header{
    display: flex;
    flex-direction: column;
    position: center;
    justify-content: center;
    text-align: center;
    margin-top: 1%;
}

#formContainer{
    display: flex;
    flex-direction: column;
    position: center;
    justify-content: center;
    text-align: center;
}

#ttt {
    text-align: center;
    justify-content: center;
}

button{
    position: center;
    padding-top: 20px;
    margin-top: 20px;
}

#table2{
    text-align: center;
}

.h2, h2{
    text-align: center;
    position: center;
}

#hidden {
    display: none;
}

#cameBack{
    margin-top: 30%;
}

#ldapCont {
    margin-top: 8%;
}

#mainZoznam {
    font-size: xx-large;
    margin-top: 10%;
}

li {
    list-style-type: none; /* Убираем маркеры */
}

#lastAccesses {
    /*margin-top: 20%;*/
}

.table {
    justify-content: center; position: center;
}

footer {
    position: fixed; /* Фиксированное положение */
    left: 0; bottom: 0; /* Левый нижний угол */
    color: #fff; /* Цвет текста */
    width: 100%; /* Ширина слоя */
    padding: 10px; /* Поля вокруг текста */
    background: black; /* Цвет фона */
    text-align: center;
}

form{
    width: 550px;
    margin: 0 auto;
    position: center;
}

.container, h1 {
    display: flex;
    flex-direction: column;
    position: center;
    justify-content: center;
    text-align: center;
}
